<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/prawn"
        android:label="@string/app_name"
        android:roundIcon="@drawable/prawn"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dried_shrimp">
        <activity
            android:name=".ui.activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChatMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SellerOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PaymentActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.activities.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ShippingFeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProductDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CategorySelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AddProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TabbedMyProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MyStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ShoppingCartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AccountSettingActivity"
            android:exported="false" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/facebook_app_id" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" /> <!-- 2. 放入您的 Facebook Client Token -->
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" /> <!-- 👆👆👆 程式碼到此結束 👆👆👆 -->
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.MoreServeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Login"
            android:exported="true"
            android:launchMode="singleTask">

            <!-- ⭐ LINE 回跳用的 Redirect URI 設定（必要） -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- ⚠️ schema 必須跟你 LINE Developers 後台設定的 Callback URL 一致！ -->
                <data
                    android:host="oauth"
                    android:scheme="line3rdparty.com.example.dried_shrimp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.TabbedPurchaseListActivity"
            android:exported="true" />
        <activity
            android:name=".more_Serve"
            android:exported="true" />
        <activity
            android:name=".ui.activities.ShortVideoActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>